.review-container-image {
  height: 55px;
  margin-top: 1.5rem;
  width: 125px; }

.week-title {
  color: #f7f7f7;
  font-family: 'Chalkboard SE', 'Times New Roman', serif; }

.button-container {
  display: flex;
  justify-content: space-evenly; }

.review-header-container {
  padding-right: 6.5rem; }

.back-arrow {
  height: 40px;
  padding: 0rem 4rem 0.5rem 0rem; }

.review-container-button {
  background-color: #009c92;
  border-color: #009c92;
  border-radius: 5px;
  color: #f7f7f7;
  font-family: 'Chalkboard SE', 'Times New Roman', serif;
  font-size: 1.2rem;
  height: 45px;
  margin-top: 1rem;
  width: 110px; }
