.review-button-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem; }

.review-header-container {
  padding-right: 6.5rem; }

.review-button {
  background-color: #009c92;
  border-color: #009c92;
  border-radius: 5px;
  height: 45px;
  margin-bottom: 1rem;
  width: 175px; }

.back-arrow {
  height: 40px;
  padding: 0rem 4rem 0.5rem 0rem; }

.review-header {
  color: #f7f7f7;
  margin-top: 2.5rem; }

.review-header-image {
  height: 55px;
  margin-top: 1.5rem;
  width: 125px; }

.review-page-link {
  color: #f7f7f7;
  font-size: 1.3rem;
  text-decoration: none; }

.review-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Chalkboard SE', 'Times New Roman', serif; }
