.results-header {
  color: #f7f7f7;
  font-family: 'Chalkboard SE', 'Times New Roman', serif;
  font-weight: 100; }

.results-image {
  height: 55px;
  margin-top: 1.5rem;
  width: 125px; }

.score {
  color: #f7f7f7;
  font-size: 1.4rem; }

span {
  color: #00da59; }

.score-container {
  margin-top: 10rem; }
