.trivia-container-image {
  height: 55px;
  margin-top: 1.5rem;
  width: 125px; }

.trivia-title {
  color: #f7f7f7;
  font-family: 'Chalkboard SE', 'Times New Roman', serif; }

.trivia-container-header {
  padding-right: 6.5rem; }

.back-arrow {
  height: 40px;
  padding: 0rem 4rem 0.5rem 0rem; }

.answers-container {
  color: #f7f7f7;
  padding: 0 0.75rem 0 0.75rem; }

.trivia-card {
  align-items: center;
  background-color: #b72424;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  font-size: 1.1rem;
  height: 70px;
  justify-content: center;
  margin: 1.5rem 1rem 1rem 1rem; }
