.Card {
  background-color: #b72424;
  border-radius: 7px;
  color: #f7f7f7;
  height: 265px;
  margin: 1.5rem 1rem 0 1rem;
  padding: 0.25rem 0 0.5rem 0;
}

.card-title {
  font-size: 1.2rem;
}

.card-body {
  padding: 0 0.7rem 0 0.7rem;
}
